
html, body{
    height: 100%;
    background-color: #f7f7f7;
}

html{
    background-color: #eeeeee;
}

#main{
    position: relative;
}

.content-wrapper{

}

.btn-lg {
    font-weight: 700;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}

a{
    cursor: pointer;
}